* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

header a {
    display: inline-block;
    padding: 1rem;
    margin: 0 2rem;
    font-size: 1.4rem;
}

.App {
    list-style: none;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.App > li {
    width: 48%;
    position: relative;
    padding: 2rem;
    border: 1px solid #ccc;
    margin: 2.6rem 0;
}

.movie {
    display: flex;
}

.movie__poster {
    position: absolute;
    top: -2rem;
    left: 2rem;
    width: 140px;
}

.movie__info {
    padding-left: 180px;
}

.movie__info .genres span {
    font-size: 12px;
    display: inline-block;
    color: #666;
    margin-right: 4px;
}

.movie_datail {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.movie_datail div {
    width: 48%;
}
